<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Project</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/topnav :: navbar-dev"></div>
<div class="content-container">
    <h1>Add New or Modify Project</h1>
    <form class="center-form">
        <div class="form-group">
            <label for="newProjectClient">Client</label>
            <input type="text" class="form-control" id="newProjectClient" placeholder="Project Owner">
        </div>
        <div class="form-group">
            <label for="newProjectName">Project Name</label>
            <input type="text" class="form-control" id="newProjectName" placeholder="Project Name">
        </div>
        <div class="form-group">
            <label for="newProjectBudget">Project Budget</label>
            <input type="text" class="form-control" id="newProjectBudget" placeholder="Project Budget">
        </div>
        <div class="form-group">
            <label for="newProjectEstHours">Estimated Hours</label>
            <input type="text" class="form-control" id="newProjectEstHours" placeholder="00:00">
        </div>
        <button name="submit" value="0" type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>

